<div>
    <h1>Sentiment Analysis</h1>
</div>

<!-- detik result-->
<div>
    <h1>Sentiment for detik</h1>
    <p>Naive Bayes Result</p>
    <p>
        <table border="1">
        {% for row in result_detik.matrix %}
            <tr>
                {% for column in row %}
                <td>
                    {{column}}
                </td>
                {% endfor%}
            </tr>
        {% endfor %}
        </table>
    </p>
    <p>
        akurasi = {{result_detik.accuracy}}<br>
        total data = {{result_detik.data.total}}<br>
        total data positive = {{result_detik.data.positive}}<br>
        total data negative = {{result_detik.data.negative}}<br>
        total data neutral = {{result_detik.data.neutral}}<br>
    </p>
</div>
<hr>

<!--&lt;!&ndash; liputan6 result&ndash;&gt;-->
<!--<div>-->
    <!--<h1>Sentiment for liputan6</h1>-->
    <!--<p>Naive Bayes Result</p>-->
    <!--<p>-->
        <!--<table border="1">-->
        <!--{% for row in result_liputan6.matrix %}-->
            <!--<tr>-->
                <!--{% for column in row %}-->
                <!--<td>-->
                    <!--{{column}}-->
                <!--</td>-->
                <!--{% endfor%}-->
            <!--</tr>-->
        <!--{% endfor %}-->
        <!--</table>-->
    <!--</p>-->
    <!--<p>-->
        <!--akurasi = {{result_liputan6.accuracy}}<br>-->
        <!--total data = {{result_liputan6.data.total}}<br>-->
        <!--total data positive = {{result_liputan6.data.positive}}<br>-->
        <!--total data negative = {{result_liputan6.data.negative}}<br>-->
        <!--total data neutral = {{result_liputan6.data.neutral}}<br>-->
    <!--</p>-->
<!--</div>-->
<!--<hr>-->


<!--&lt;!&ndash; sindonews result&ndash;&gt;-->
<!--<div>-->
    <!--<h1>Sentiment for sindonews</h1>-->
    <!--<p>Naive Bayes Result</p>-->
    <!--<p>-->
        <!--<table border="1">-->
        <!--{% for row in result_sindonews.matrix %}-->
            <!--<tr>-->
                <!--{% for column in row %}-->
                <!--<td>-->
                    <!--{{column}}-->
                <!--</td>-->
                <!--{% endfor%}-->
            <!--</tr>-->
        <!--{% endfor %}-->
        <!--</table>-->
    <!--</p>-->
    <!--<p>-->
        <!--akurasi = {{result_sindonews.accuracy}}<br>-->
        <!--total data = {{result_sindonews.data.total}}<br>-->
        <!--total data positive = {{result_sindonews.data.positive}}<br>-->
        <!--total data negative = {{result_sindonews.data.negative}}<br>-->
        <!--total data neutral = {{result_sindonews.data.neutral}}<br>-->
    <!--</p>-->
<!--</div>-->
<!--<hr>-->