<!DOCTYPE html>
<html>
    <head lang="en">
      <meta charset="UTF-8">
      <title>Django test</title>
    </head>
    <body>
        <p>
            API untuk get list user :
            <ul>
                <li><a href="list_user">List User</a></li>
            </ul>
        </p>
        <p>
            API untuk get raw data :
            <ul>
                <li>{{ request.get_host }}/api/get_detik/query</li>
                <li>{{ request.get_host }}/api/get_liputan6/query</li>
            </ul>
        </p>

        <p>
            Tokenize API dari raw data :
            <ul>
                <li>{{ request.get_host }}/api/tokenizer_detik/id_user/id_path</li>
                <li>{{ request.get_host }}/api/tokenizer_liputan6/id_user/id_path</li>
            </ul>
        </p>
        <p>
            Save to DB dari split data :
            <ul>
                <li>{{ request.get_host }}/api/detikjson_to_db/id_user/id_path</li>
            </ul>
        </p>
    </body>
</html>