<div>
    <h1>Django User</h1>
</div>

{% for user in users %}
    <div>
        <p>username: {{ user.username }} |  password: {{ user.password }}</p>
    </div>
{% endfor %}
<div>
    <table>
        <tr>
            <td>id</td><td>user_id</td><td>path</td>
        </tr>
        {% for raw in raw_files %}
        <tr>
            <td>{{raw.id}}</td><td>{{raw.user_id.id}}</td><td>{{raw.path_name}}</td>
        </tr>
        {% endfor %}
    </table>

</div>

<div>
    <table>
        <tr>
            <td>id</td><td>user_id</td><td>path</td>
        </tr>
        {% for raw in split_files %}
        <tr>
            <td>{{raw.id}}</td><td>{{raw.user_id.id}}</td><td>{{raw.path_name}}</td>
        </tr>
        {% endfor %}
    </table>

</div>


<div>
    <table>
        <tr>
            <td>message_id</td><td>message</td>
        </tr>
        {% for post in twitter_post %}
        <tr>
            <td>{{post.tweet_id}}</td><td>{{post.result_message}}</td>
        </tr>
        {% endfor %}
    </table>

</div>


<div>
    <table>
        <tr>
            <td>message_id</td><td>message</td>
        </tr>
        {% for post in instagram_post %}
        <tr>
            <td>{{post.message_id}}</td><td>{{post.result_message}}</td>
        </tr>
        {% endfor %}
    </table>

</div>


<div>
    <table>
        <tr>
            <td>message_id</td><td>message</td>
        </tr>
        {% for post in facebook_post %}
        <tr>
            <td>{{post.message_id}}</td><td>{{post.result_message}}</td>
        </tr>
        {% endfor %}
    </table>

</div>