<div>
    <p>Detik Query</p>
    <table border="1">
        <tr>
            <td>No</td><td>Query</td><td>Result</td>
        </tr>
       <tr>
           <td>1</td><td>{{result.query}}</td><td>{{result.result}}</td>
        </tr>
    </table>
</div>