<div>
    <p>Detik Post</p>
    <table border="1">
        <tr>
            <td>No</td><td>Query</td><td>Result</td>
        </tr>
        {% for row in result %}
       <tr>
            <td>No</td><td>{{row.query}}</td><td>{{row.result}}</td>
        </tr>
        {% endfor %}
    </table>
</div>